/* Sections */
.container {
    margin: 3rem auto;
    max-width: 75rem;
    padding: 3rem 1.5rem;
    position: relative;
    text-align: center;
    overflow-wrap: normal;
  }
  
/* Section Header Content */
.header-container {
    background-color: #109cea;
    text-align: center;
    padding: 10rem 3rem;
  }
  