.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

.card {
  background-color: #109cea;
  border-radius: 4px;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  max-width: 21.1875rem;
  flex: 1 0 45%;
}

.card-content {
  padding: 1rem;
}

.card-text {
  font-style: italic;
}

.header,
.subheader {
  margin: 0;
}